<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./header.css">
    <title>Header</title>
</head>
<body class="main">
    <div class="header-box">
        <div class="logo">
            <img src="./images/zing-logo.png" alt="logo-zing" class="img-logo">
        </div>
        <div class="search-box">
            <div class="group-search">
                <form action="#" class="search">
                        <input type="text" class="input-txt" placeholder="Enter keywords to search...">
                </form>
                <div class="input-btn">
                    <img src="./images/search.svg" alt="search-icon" class="search-icon" >
                </div>    
            </div>
        </div>
        <div class="account-corner">
            <div class="avatar">
                <img src="./images/avatar.jpeg" alt="severus-ava" class="ava">
            </div>
            <div class="account-info">
                <div class="account-name">Severus</div>
                <div class="account-type">Tài khoản thường</div>
            </div>
            <div class="menu-account">
                <img src="./images/menu.svg" alt="menu" class="icon-menu">
            </div>
        </div>
    </div>
    <div class="main-menu">
        <ul class="group-menu">
            <a href="#" class="list-menu"><li >TRANG CHỦ</li></a>
            <a href="#" class="list-menu"><li >#ZINGCHART</li></a>
            <a href="#" class="list-menu"><li >TOP 100</li></a>
            <a href="#" class="list-menu"><li >CHỦ ĐỀ</li></a>
            <a href="#" class="list-menu"><li >ALBUM</li></a>
            <a href="#" class="list-menu"><li >MV</li></a>
            <a href="#" class="list-menu"><li >NGHỆ SĨ</li></a>
            <a href="#" class="list-menu"><li >NHẠC CÁ NHÂN</li></a>
            <a href="#" class="list-menu"><li >VIP</li></a>
        </ul>
    </div>
</body>
</html>