.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(175, 168, 168);
}

.main {
    max-width: 1024px;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-box {
    display: flex;
    height: 60px
}

.group-search {
    width: 100%;
    display: flex;
    border: 1px solid #AAA;
    padding: 0px 10px;
}

.search-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-box .search {
    flex-grow: 1;
}

.header-box .logo .img-logo {
    height: 50px;
    align-items: center;
    padding-top: 7px;
    margin-right: 10px;
}

.search-box .search .input-txt {
    border: 0px solid #aaa;
    height: 25px;
    font-size: 14px;
    margin-top: 7px;
    margin-right: 7px;
    padding-left: 5px;
    width: 100%;
    outline: none;
}

.search-box .group-search .input-btn .search-icon {
    padding-top: 5px;
    margin-left: 10px;
}

.account-corner {
    display: flex;
    margin-left: 10px;
    width: 200px;
    align-items: center;
}

.account-corner .account-info {
    flex-grow: 1;
    justify-content: center;
    color: #AAA;
    padding-bottom: 5px;
}

.account-corner .account-info .account-name {
    color: black;
    font-size: 13px;
    margin-bottom: 6px;
}

.account-corner .account-info .account-type {
    font-size: 11px;
}

.account-corner .avatar .ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.account-corner .menu-account .icon-menu {
    height: 12px;
    width: 12px;
}

.main-menu .group-menu {
    color: #AAA;
    display: flex;
    float: left;
    list-style: none;
}

.main-menu .group-menu a:hover {
    color: rgb(147, 58, 155);
}

.main-menu .group-menu .list-menu {
    color: #AAA;
    padding-right: 20px;
    text-decoration: none;
}

.main .cover-image > img {
    width: 100%;
    height: 100%;
}

.main .box-of-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(94, 92, 92);
  }
  
  a {
    text-decoration: none;
    padding: 0px;
    line-height: 0px;
    
  }
  
  .box {
    display: flex;
    position: relative;
  }
  
  .div1 {
    height: 240px;
    width: 240px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.3393732492997199) 35%, rgba(0,212,255,1) 100%);
    position: absolute;
    opacity: 0;
  }
  
  .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .box:hover .div1 {
    opacity: 1;
    transition: 0.6s;
    transform: scale(1.1);
  }
  
  .box:hover .icon-play {
    opacity: 1;
    transition: 0.6s;
  }

.box-of-box .slides .slide .box {
    height: 240px;
    width: 240px;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.box-of-box .slides .slide .box:hover .image-loaded {
    transform: scale(1.1);
    transition: 0.6s;
}

.main .box-of-box .slides {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(192, 192, 192);
}

.main .box-of-box .slides .slide {
    width: 240px;
}